<div class="container-fluid bg-brown-light">
  <div class="container py-5 hero" id="hero">
    <div class="row mb-5">
      <div class="col-md-6 pt-5 px-4">
        <h1 class="text-center fw-bold mb-4 text-brown mt-5">WELCOME TO <span class="text-green">AJANAKU FAMILY'S ESTATE</span></h1>
        <img alt="" src="https://www.nairaland.com/attachments/4523511_284309880944unitof2bedroomflatwith1bedroomflatbqdetachedduplexesforsalekubwaabujanigeria_jpegdd6de43a89b639e3e9cdfd5247982ee7" class="d-md-none w-100 mb-5 mt-2" />
        <h4 class="text-center fw-bold mb-5">RENT YOURSELF AN APARTMENT/SHOP OF COMFORT!</h4>
        <h4 class="text-center fw-bold mB-5">8 TWO BEDROOM FLATS, A ROOM SELF CONTAIN AND SHOPS</h4>

        <div class="text-center mt-5">
          <div class="dropdown">
            <a class="btn btn-primary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              View Rentables
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Flats</a></li>
              <li><a class="dropdown-item" href="#">Shops</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5 d-none d-md-block">
        <img alt="" src="https://www.nairaland.com/attachments/4523511_284309880944unitof2bedroomflatwith1bedroomflatbqdetachedduplexesforsalekubwaabujanigeria_jpegdd6de43a89b639e3e9cdfd5247982ee7" class="w-100 mx-auto hero-image" />
      </div>
    </div>

    <div class="pt-5 mt-5 rentable-available" id="flats-available">
      <h3 class="text-center text-brown fw-bold mb-5">Available Flats</h3>
      <div class="container">
        <div class="d-flex justify-content-between mb-3">
          <h5 class="fw-bold text-brown">Flats</h5>
          <a href="/" class="text-green fw-bold">View all <i class="fa fa-chevron-right"></i></a>
        </div>
        <div class="row g-4">
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWqJfsjz2fKHoaHOB3e0aVOaX2z0Kqvp_Jlg&usqp=CAU" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Flat A</h5>
                <p class="card-text">
                  <ul>
                    <li>2 Bedrooms</li>
                    <li>A Kitchen</li>
                    <li>Bathroom & Toilet</li>
                  </ul>
                </p>
                <a href="#" class="btn btn-primary d-block">Learn more / Rent</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWqJfsjz2fKHoaHOB3e0aVOaX2z0Kqvp_Jlg&usqp=CAU" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Flat B</h5>
                <p class="card-text">
                  <ul>
                    <li>2 Bedrooms</li>
                    <li>A Kitchen</li>
                    <li>Bathroom & Toilet</li>
                  </ul>
                </p>
                <a href="#" class="btn btn-primary d-block">Learn more / Rent</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWqJfsjz2fKHoaHOB3e0aVOaX2z0Kqvp_Jlg&usqp=CAU" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Flat C</h5>
                <p class="card-text">
                  <ul>
                    <li>2 Bedrooms</li>
                    <li>A Kitchen</li>
                    <li>Bathroom & Toilet</li>
                  </ul>
                </p>
                <a href="#" class="btn btn-primary d-block"> Learn more / Rent</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWqJfsjz2fKHoaHOB3e0aVOaX2z0Kqvp_Jlg&usqp=CAU" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Flat D</h5>
                <p class="card-text">
                  <ul>
                    <li>2 Bedrooms</li>
                    <li>A Kitchen</li>
                    <li>Bathroom & Toilet</li>
                  </ul>
                </p>
                <a href="#" class="btn btn-primary d-block">Learn more / Rent</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" pt-5 mt-5 rentable-available" id="shops-available">
      <h3 class="text-center text-brown fw-bold mb-5">Available Shops</h3>
      <div class="container">
        <div class="d-flex justify-content-between mb-3">
          <h5 class="fw-bold text-brown">Shops</h5>
          <a href="/" class="text-green fw-bold">View all <i class="fa fa-chevron-right"></i></a>
        </div>
        <div class="row g-4">
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWqJfsjz2fKHoaHOB3e0aVOaX2z0Kqvp_Jlg&usqp=CAU" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Flat A</h5>
                <p class="card-text">
                  <ul>
                    <li>1 shop space</li>
                  </ul>
                </p>
                <a href="#" class="btn btn-primary d-block">Learn more / Rent</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWqJfsjz2fKHoaHOB3e0aVOaX2z0Kqvp_Jlg&usqp=CAU" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Flat B</h5>
                <p class="card-text">
                  <ul>
                    <li>1 shop space</li>
                  </ul>
                </p>
                <a href="#" class="btn btn-primary d-block">Learn more / Rent</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWqJfsjz2fKHoaHOB3e0aVOaX2z0Kqvp_Jlg&usqp=CAU" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Flat C</h5>
                <p class="card-text">
                  <ul>
                    <li>1 shop space</li>
                  </ul>
                </p>
                <a href="#" class="btn btn-primary d-block"> Learn more / Rent</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWqJfsjz2fKHoaHOB3e0aVOaX2z0Kqvp_Jlg&usqp=CAU" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Flat D</h5>
                <p class="card-text">
                 <ul>
                    <li>1 shop space</li>
                  </ul>
                </p>
                <a href="#" class="btn btn-primary d-block">Learn more / Rent</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>